<h3>{{title}}</h3>
<div class="product">
    <img
        src="{{thumbnail}}"
        alt="foto producto"
        width="300"
    />
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
    <p>Categoría: {{category}}</p>
    <p>Status: {{status}}</p>
    <p>Código: {{code}}</p>
    <p>Stock: {{stock}}</p>
    <button type="button" value="Agregar al carro" class="btn btn-danger">Agregar al carrito</button>
    <button type="button" class="btn btn-dark"><a href="../products" class="verproducto" style="text-decoration: none; color:white">Ver todos los productos</a></button>
</div>